@using Final.BackupTool.Common.Operational
@model List<Final.BackupTool.Common.Models.StatusModel>
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "RecentStatus"))
{
    foreach (var m in Model)
    {
        <div id="ViewRecent" class="card">
            <h4>Recent Operational Activities</h4>
            <table>
                <tr>
                    <td>
                        <label>Operational Storage:</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => m.OperationalStorageConnectionString, new {Size = "100", Placeholder = "Operational Storage", Id = "operationalStorage", Class = "textinput", Required = "required"})
                    </td>
                </tr>
            </table>
            <input id="viewStatus" type="submit" value="view" class="button"/>
        </div>

        if ((string) ViewData[OperationalDictionary.ViewRecentStatus] == "true")
        {
            <div id="RecentTableActivity" class="card">
                <h4>Recent Operations</h4>

                <table class="table-fill">
                    <thead>
                    <tr>
                        <th class="text-left table-fill">Operation Type</th>
                        <th class="text-left table-fill">Copied</th>
                        <th class="text-left table-fill">Skipped</th>
                        <th class="text-left table-fill">Faulted</th>
                        <th class="text-left table-fill">Finished In</th>
                        <th class="text-left table-fill">Status</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover table-fill">
                    <tr>
                        <td class="text-left table-fill">@m.OperationType</td>
                        <td class="text-left table-fill">@m.Copied</td>
                        <td class="text-left table-fill">@m.Skipped</td>
                        <td class="text-left table-fill">@m.Faulted</td>
                        <td class="text-left table-fill">@m.FinishedIn</td>
                        <td class="text-left table-fill">@m.FinalStatus</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        }
    }
}
    

